PERPLEXITY_API_KEY=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
ANTHROPIC_API_KEY=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
